<a href="https://colab.research.google.com/github/Gilgamesh60/-Unfinished-laptops-ratings-predictor/blob/main/Data_scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',options=chrome_options)

In [ ]:
from time import sleep
from random import random
import pandas as pd
import requests
from tqdm.notebook import tqdm
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import urllib.parse as urlparse
from urllib.parse import parse_qs

In [ ]:
search_query='laptops'
BASE_URL='https://www.flipkart.com/'
i=1
URL=f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i}'
driver.get(URL)

In [ ]:
import numpy as np
def f1(url):
  driver.get(url)
  try:
    temp_comp=[]
    temp_model=[]
    temp_ram=[]
    temp_storage=[]
    temp_storagetype=[]
    l=driver.find_elements(by=By.CLASS_NAME,value='_4rR01T')
    for i in range(len(l)):
      temp_comp.append(l[i].text.split('- (')[0].split(' ')[0])
      temp_model.append(l[i].text.split('- (')[0].split(' ')[1:])
      temp_ram.append(int(l[i].text.split('- (')[1].split('/')[0][0]))
      temp_storage.append(int(l[i].text.split('- (')[1].split('/')[1].split(' ')[0]))
      temp_storagetype.append(l[i].text.split('- (')[1].split('/')[1].split(' ')[2:])
  except:
    pass
   
  try:
      p=driver.find_elements(by=By.CLASS_NAME,value='_3tbKJL')
      r=[]
      for i in range(len(p)):
            s=p[i].text.split('\n')[0]
            l=s.split(',')
            sum=''
            for i in range(len(l)):
                      sum=sum+l[i]
            r.append(sum)
  except:
    pass

  return [temp_comp,temp_model,temp_ram,temp_storage,temp_storagetype,r]

In [ ]:
text='HP OMEN Ryzen 9 Octa Core 5900H - (16 GB/1 TB SSD/Windows 10 Home/8 GB Graphics/AMD Radeon RX 6600M) 16-C0141AX Gaming Laptop  (16.1 inch, Mica Silver, 2.23 kg, With MS Office)'
int(text.split('- (')[1].split('/')[0][0])

1

In [ ]:
ratings=[]
model=[]
price=[]
no_of_reviews=[]
no_of_ratings=[]
RAM=[]
storage=[]
storage_type=[]
company=[]
no_of_pages=40
for i in range(no_of_pages):
  model.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[1])
  price.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[5])
  company.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[0])
  RAM.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[2])
  storage.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[3])
  storage_type.extend(f1(f'{BASE_URL}search?q={search_query}&sort=price_asc&page={i+1}')[4])

In [ ]:
print(len(company))
print(len(model))
print(len(price))
print(len(storage))
print(len(storage_type))
print(len(RAM))

938
938
960
936
936
937

In [ ]:
Model=[]
Price=[]
Company=[]
Laptop_RAM=[]
Storage=[]
Storage_type=[]
for i in range(936):
  Model.append(model[i])
  Price.append(price[i])
  Company.append(company[i])
  Laptop_RAM.append(RAM[i])
  Storage.append(storage[i])
  Storage_type.append(storage_type[i])

In [ ]:
products={"Company":Company,"model":Model,"RAM":Laptop_RAM,"storage":Storage,"storage_type":Storage_type,"Price":Price}
import pandas as pd
df=pd.DataFrame(products)

In [ ]:
df

,Company,model,RAM,storage,storage_type,Price
0,acer,"[One, 10, Atom, Quad, Core, ]",2,32,[SSD],₹15190
1,HP,"[APU, Pro, A4, ]",4,32,"[EMMC, Storage]",₹16990
2,Lenovo,"[APU, Dual, Core, E2, E2-9000, 7th, Gen, ]",4,1,[HDD],₹18890
3,Micromax,"[Canvas, Laptab, II, (WIFI), Atom, Quad, Core,...",2,32,"[EMMC, Storage]",₹18999
4,ASUS,"[Chromebook, Celeron, Dual, Core, ]",4,32,"[EMMC, Storage]",₹19174
...,...,...,...,...,...,...
931,HP,"[Spectre, x360, Core, i5, 11th, Gen, Intel, EV...",1,512,[SSD],₹86890
932,Lenovo,"[Yoga, Slim, 7, Intel, EVO, Core, i5, 11th, Ge...",1,512,[SSD],₹86990
933,DELL,"[Vostro, Core, i5, 12th, Gen, ]",1,1,[SSD],₹86990
934,Lenovo,"[IdeaPad, 5, Pro, Ryzen, 7, Hexa, Core, ]",1,512,[SSD],₹87000
935,HP,"[Pavilion, Core, i7, 12th, Gen, ]",1,512,[SSD],₹87390

In [ ]:
df.to_csv('laptops.csv',index=False)